
body {
  font-family: Arial;
  background-color: #f0f8ff;
}

h1 {
  color: #2c3e50;
}

p {
  font-size: 18px;
}

.navbar {
  padding: 15px;
}

.carousel img {
  height: 400px;
  object-fit: cover;
}